/*=======================
       Reset 
=======================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*=======================
   Custom styles 
=======================*/

* {
	box-sizing: border-box;
}
ul li {
	list-style-type: none;
}

/*=======================
    Visual hierarchy
=======================*/

.primary {
	background-color: #808080;
}
.secondary {
	background-color: #A9A9A9;
}
.tertiary {
	background-color: #D3D3D3;
}

/*=======================
       Grid
=======================*/

.navigation,.container,.footer {
	width: 100%;
	max-width: 2000px;
}
.container {
	position: relative;
}
.container::after {
	content: "";
	display: table;
	clear: both;
}
.main {
	width: 65%;
	position: relative;
	float: left;
}
.sidebar {
	width: 35%;
	float: left;
}
.left-column {
	width: 20%;
	float: left;
}
.content {
	width: 72%;
	float: left;
}

/*=======================
      Navigation
=======================*/

.navigation::after {
	content: "";
	display: table;
	clear: both;
}
.logo {
	width: 13%;
	height: 75px;
	float: left;
	font-weight: 900;
	font-family: sans-serif;
	text-align: center;
	padding-top: 12px;

}
.nav-links {
	float: left;
	width: 87%;
	height: 75px;
}

/*=======================
        Main
=======================*/

.main {
	padding-top: 50px;
}
.menu {
	width: 85%;
	margin-left: 15%;
}
.sub-menu {
	padding-bottom: 35px;
	font-family: 'Droid Sans';
}
.sub-menu h1 {
	height: 32px;
	letter-spacing: 3px;
	font-size: 18px;
	font-weight: 700;
}
.sub-menu ul li {
	padding-top: 15px;
	padding-bottom: 15px;
}
.content {
	margin-left: 4%;
	margin-right: 4%;
}
.post {
	margin-bottom: 80px;
}
.post-title {
	min-height: 80px;
	font-family: 'Enriqueta', serif;
	font-weight: bold;
	font-size: 30px;
}
.post-author {
	min-height: 35px;
	margin-top: 12px;
	margin-bottom: 12px;
	font: 24px 'Enriqueta', serif;;
}
.post-data {
	min-height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.post p {
	min-height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.first-par {
	font: 20px 'Enriqueta', serif;
}
.second-par {
	font: 18px 'Droid Sans', sans-serif;
	line-height: 1.5;
}
figure {
	min-height: 300px;
}
.read-more {
	border: none;
	padding: 18px 50px;
}

/*=======================
        Sidebar
=======================*/

.search {
	width: 90%;
	margin: 0 auto;
	position: relative;
	margin-top: 8px;
}
.search::after {
	content: "";
	display: table;
	clear: both;
}
.search-input {
	float: left;
	width: 75%;
	min-height: 40px;
}
.search-button {
	float: left;
	width: 25%;
	min-height: 40px;
	font: 20px 'Droid Sans';
	color: white;
	text-align: center;
	padding-top: 6px;
}
.advertise-box {
	position: relative;
	width: 100%;
}
.advertise-box::after {
	content: "";
	display: table;
	clear: both;
}
.adv-wide {
	width: 65%;
	margin: 30px auto 30px auto;
	height: 125px;
}
.adv-normal {
	width: 40%;
	height: 125px;
	float: left;
	margin-left: 6%;
	margin-bottom: 30px;
}
.subscribe-box h1 {
	height: 40px;
	width: 90%;
	margin: 8px auto 0 auto;
	font: bold 25px 'Enriqueta', serif;
	text-align: center;
}
.subscribe-box p {
	min-height: 40px;
	width: 90%;
	margin: 8px auto 0 auto;
	font: 17px 'Droid Sans';
	line-height: 1.5;
}
.subscribers {
	height: 40px;
	width: 45%;
	margin-left: 5%;
	margin-top: 8px;
}

/*=======================
        Footer
=======================*/

.footer {
	width: 65%;
}
.smashing-box {
	margin-left: 3%;
}
.smashing-box-item {
	width: 30%;
	display: inline-block;
	position: relative;
	font: 14px 'Droid Sans';
}
.smashing-box-item::after {
	content: "";
	display: table;
	clear: both;
}
.thumb {
	float: left;
	width: 30%;
	margin-left: 9%;
	margin-right: 6%;
	height: 86px;
}
.smashing-box-item h2 {
	float: left;
	width: 55%;
	min-height: 30px;
	font-weight: bold;
}
.smashing-box-item p {
	float: left;
	width: 55%;
	min-height: 85px;
	line-height: 1.5;
}
.legal {
	height: 75px;
	margin-bottom: 30px;
	margin-top: 50px;
	font: 14px 'Droid Sans';
	padding-left: 5%;
}